<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container d-flex flex-column">
    <h2>Login</h2>
    <button onclick="location.href='/oauth2/authorization/naver'" class="btn btn-success mb-2">
        <i class="fa-solid fa-n"></i> Login with Naver
    </button>
    <button onclick="location.href='/oauth2/authorization/google'" class="btn btn-primary">
        <i class="fab fa-google"></i> Login with Google
    </button>
</div>
<!-- Add Bootstrap JS and its dependencies jQuery and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
